In [0]:
import pandas as pd
import numpy as np

In [0]:
test = pd.read_csv('profile_data_test.csv')
train = pd.read_csv('profile_data_train.csv')

all_data = pd.concat((test.loc[:,'handle':'avg_word_count'], train.loc[:,'handle':'avg_word_count'])).reset_index(drop=True)

In [0]:
X_train = all_data[:train.shape[0]]
X_test = all_data[train.shape[0]:]

y_train = train['age_group']
y_test = test['age_group']

In [22]:
# first try xgboost on numerical features only
import copy

X_train_num = copy.deepcopy(X_train)
del X_train_num['handle']
del X_train_num['tweets_text']
del X_train_num['hashtags']

X_train_num.head()

   followers  following  ...  avg_timedelta_hrs  avg_word_count
0   126790.0    38762.0  ...          26.393673             166
1     1272.0      426.0  ...         217.188333              81
2    74947.0       49.0  ...          88.825556             386
3   560650.0      119.0  ...           1.508302             104
4   392302.0     3048.0  ...          20.227262             281

[5 rows x 13 columns]

In [23]:
X_test_num = copy.deepcopy(X_test)
del X_test_num['handle']
del X_test_num['tweets_text']
del X_test_num['hashtags']

X_test_num.head()

      followers  following  ...  avg_timedelta_hrs  avg_word_count
1699  3946343.0       69.0  ...           8.068981             109
1700    54359.0       17.0  ...           8.208519              54
1701      778.0      659.0  ...          20.997809             121
1702      114.0      148.0  ...           7.273642              54
1703      256.0      207.0  ...         490.341358              76

[5 rows x 13 columns]

In [0]:
from xgboost import XGBClassifier

xgb = XGBClassifier()

In [27]:
xgb.fit(X_train_num, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [28]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, xgb.predict(X_test_num))

0.2823529411764706