In [0]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd

In [0]:
test = pd.read_csv('profile_data_test.csv')
train = pd.read_csv('profile_data_train.csv')

all_data = pd.concat((test.loc[:,'handle':'avg_word_count'], train.loc[:,'handle':'avg_word_count'])).reset_index(drop=True)

In [0]:
X_train = all_data[:train.shape[0]]
X_test = all_data[train.shape[0]:]

y_train = train['age_group']
y_test = test['age_group']

In [4]:
# first try xgboost on numerical features only
import copy

X_train_num = copy.deepcopy(X_train)
del X_train_num['handle']
del X_train_num['tweets_text']
del X_train_num['hashtags']

n_features = X_train_num.shape[1]

X_train_num.head()

   followers  following  ...  avg_timedelta_hrs  avg_word_count
0   126790.0    38762.0  ...          26.393673             166
1     1272.0      426.0  ...         217.188333              81
2    74947.0       49.0  ...          88.825556             386
3   560650.0      119.0  ...           1.508302             104
4   392302.0     3048.0  ...          20.227262             281

[5 rows x 13 columns]

In [5]:
X_test_num = copy.deepcopy(X_test)
del X_test_num['handle']
del X_test_num['tweets_text']
del X_test_num['hashtags']

X_test_num.head()

      followers  following  ...  avg_timedelta_hrs  avg_word_count
1699  3946343.0       69.0  ...           8.068981             109
1700    54359.0       17.0  ...           8.208519              54
1701      778.0      659.0  ...          20.997809             121
1702      114.0      148.0  ...           7.273642              54
1703      256.0      207.0  ...         490.341358              76

[5 rows x 13 columns]

In [6]:
!pip install scikit-optimize

Collecting scikit-optimize
  Downloading https://files.pythonhosted.org/packages/5c/87/310b52debfbc0cb79764e5770fa3f5c18f6f0754809ea9e2fc185e1b67d3/scikit_optimize-0.7.4-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.2MB/s
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize) (0.14.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize) (1.18.3)
Collecting pyaml>=16.9
  Downloading https://files.pythonhosted.org/packages/15/c4/1310a054d33abc318426a956e7d6df0df76a6ddfa9c66f6310274fb75d42/pyaml-20.4.0-py2.py3-none-any.whl
Requirement already satisfied: scipy>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize) (1.4.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.6/dist-packages (from pyaml>=16.9->scikit-optimize) (3.13)
Installing collected packages: pyaml, scikit-optimize
Successfully installed pyaml-20.4.0 scikit-optimize-0.7.4

In [7]:
all_metadata = pd.concat((X_train_num.loc[:,'followers':'avg_word_count'], X_test_num.loc[:,'followers':'avg_word_count'])).reset_index(drop=True)
y = pd.concat((y_train, y_test))

all_metadata.head()

   followers  following  ...  avg_timedelta_hrs  avg_word_count
0   126790.0    38762.0  ...          26.393673             166
1     1272.0      426.0  ...         217.188333              81
2    74947.0       49.0  ...          88.825556             386
3   560650.0      119.0  ...           1.508302             104
4   392302.0     3048.0  ...          20.227262             281

[5 rows x 13 columns]

In [37]:
all_metadata = all_metadata.replace([np.inf, -np.inf], np.nan)
all_metadata = all_metadata.fillna(0)
y.fillna(0)

all_metadata.head()

   followers  following  ...  avg_timedelta_hrs  avg_word_count
0   126790.0    38762.0  ...          26.393673             166
1     1272.0      426.0  ...         217.188333              81
2    74947.0       49.0  ...          88.825556             386
3   560650.0      119.0  ...           1.508302             104
4   392302.0     3048.0  ...          20.227262             281

[5 rows x 13 columns]

In [49]:
np.all(np.isfinite(all_metadata))

True

In [0]:
# gradient boosted trees tend to do well on problems like this
from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators=500)

In [0]:
from skopt.space import Real, Integer
from skopt.utils import use_named_args

# The list of hyper-parameters we want to optimize. For each one we define the
# bounds, the corresponding scikit-learn parameter name, as well as how to
# sample values from that dimension (`'log-uniform'` for the learning rate)
space  = [Integer(3, 20, name='max_depth'),
          Real(10**-5, 10**0, "log-uniform", name='learning_rate'),
          Integer(1, 100, name='min_child_weight'),
          Integer(100, 1000, name='n_estimators'),
          Integer(0, 10, name='gamma')]

# this decorator allows your objective function to receive a the parameters as
# keyword arguments. This is particularly convenient when you want to set
# scikit-learn estimator parameters
@use_named_args(space)
def objective(**params):
    xgb.set_params(**params)

    return -np.mean(cross_val_score(xgb, X=all_metadata, y=y, cv=5, n_jobs=-1,
                                    scoring="accuracy"))

In [92]:
from skopt import gp_minimize
res_gp = gp_minimize(objective, space, n_calls=50, random_state=0, verbose=True)

"Best score=%.4f" % res_gp.fun

Iteration No: 1 started. Evaluating function at random point.
Iteration No: 1 ended. Evaluation done at random point.
Time taken: 19.3584
Function value obtained: -0.2971
Current minimum: -0.2971
Iteration No: 2 started. Evaluating function at random point.
Iteration No: 2 ended. Evaluation done at random point.
Time taken: 22.6152
Function value obtained: -0.3023
Current minimum: -0.3023
Iteration No: 3 started. Evaluating function at random point.
Iteration No: 3 ended. Evaluation done at random point.
Time taken: 32.5237
Function value obtained: -0.2990
Current minimum: -0.3023
Iteration No: 4 started. Evaluating function at random point.
Iteration No: 4 ended. Evaluation done at random point.
Time taken: 4.5399
Function value obtained: -0.2980
Current minimum: -0.3023
Iteration No: 5 started. Evaluating function at random point.
Iteration No: 5 ended. Evaluation done at random point.
Time taken: 21.5602
Function value obtained: -0.2980
Current minimum: -0.3023
Iteration No: 6 started. Evaluating function at random point.
Iteration No: 6 ended. Evaluation done at random point.
Time taken: 4.6771
Function value obtained: -0.2862
Current minimum: -0.3023
Iteration No: 7 started. Evaluating function at random point.
Iteration No: 7 ended. Evaluation done at random point.
Time taken: 7.7022
Function value obtained: -0.3074
Current minimum: -0.3074
Iteration No: 8 started. Evaluating function at random point.
Iteration No: 8 ended. Evaluation done at random point.
Time taken: 29.8581
Function value obtained: -0.2853
Current minimum: -0.3074
Iteration No: 9 started. Evaluating function at random point.
Iteration No: 9 ended. Evaluation done at random point.
Time taken: 68.5328
Function value obtained: -0.2976
Current minimum: -0.3074
Iteration No: 10 started. Evaluating function at random point.
Iteration No: 10 ended. Evaluation done at random point.
Time taken: 16.0955
Function value obtained: -0.2914
Current minimum: -0.3074
Iteration No: 11 started. Searching for the next optimal point.
Iteration No: 11 ended. Search finished for the next optimal point.
Time taken: 15.0671
Function value obtained: -0.2938
Current minimum: -0.3074
Iteration No: 12 started. Searching for the next optimal point.
Iteration No: 12 ended. Search finished for the next optimal point.
Time taken: 121.4169
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 13 started. Searching for the next optimal point.
Iteration No: 13 ended. Search finished for the next optimal point.
Time taken: 17.0752
Function value obtained: -0.2806
Current minimum: -0.3074
Iteration No: 14 started. Searching for the next optimal point.
Iteration No: 14 ended. Search finished for the next optimal point.
Time taken: 7.5733
Function value obtained: -0.2928
Current minimum: -0.3074
Iteration No: 15 started. Searching for the next optimal point.
Iteration No: 15 ended. Search finished for the next optimal point.
Time taken: 4.3198
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 16 started. Searching for the next optimal point.
Iteration No: 16 ended. Search finished for the next optimal point.
Time taken: 4.7305
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 17 started. Searching for the next optimal point.

/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

Iteration No: 17 ended. Search finished for the next optimal point.
Time taken: 139.7383
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 18 started. Searching for the next optimal point.
Iteration No: 18 ended. Search finished for the next optimal point.
Time taken: 3.9155
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 19 started. Searching for the next optimal point.
Iteration No: 19 ended. Search finished for the next optimal point.
Time taken: 21.1246
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 20 started. Searching for the next optimal point.
Iteration No: 20 ended. Search finished for the next optimal point.
Time taken: 2.3906
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 21 started. Searching for the next optimal point.
Iteration No: 21 ended. Search finished for the next optimal point.
Time taken: 2.3796
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 22 started. Searching for the next optimal point.
Iteration No: 22 ended. Search finished for the next optimal point.
Time taken: 3.8401
Function value obtained: -0.2872
Current minimum: -0.3074
Iteration No: 23 started. Searching for the next optimal point.
Iteration No: 23 ended. Search finished for the next optimal point.
Time taken: 14.5372
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 24 started. Searching for the next optimal point.
Iteration No: 24 ended. Search finished for the next optimal point.
Time taken: 19.2820
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 25 started. Searching for the next optimal point.
Iteration No: 25 ended. Search finished for the next optimal point.
Time taken: 19.8823
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 26 started. Searching for the next optimal point.
Iteration No: 26 ended. Search finished for the next optimal point.
Time taken: 24.3226
Function value obtained: -0.2830
Current minimum: -0.3074
Iteration No: 27 started. Searching for the next optimal point.
Iteration No: 27 ended. Search finished for the next optimal point.
Time taken: 18.1635
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 28 started. Searching for the next optimal point.
Iteration No: 28 ended. Search finished for the next optimal point.
Time taken: 18.0033
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 29 started. Searching for the next optimal point.
Iteration No: 29 ended. Search finished for the next optimal point.
Time taken: 3.0690
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 30 started. Searching for the next optimal point.
Iteration No: 30 ended. Search finished for the next optimal point.
Time taken: 19.1421
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 31 started. Searching for the next optimal point.
Iteration No: 31 ended. Search finished for the next optimal point.
Time taken: 15.2086
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 32 started. Searching for the next optimal point.
Iteration No: 32 ended. Search finished for the next optimal point.
Time taken: 61.6096
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 33 started. Searching for the next optimal point.
Iteration No: 33 ended. Search finished for the next optimal point.
Time taken: 2.7840
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 34 started. Searching for the next optimal point.
Iteration No: 34 ended. Search finished for the next optimal point.
Time taken: 16.3409
Function value obtained: -0.2863
Current minimum: -0.3074
Iteration No: 35 started. Searching for the next optimal point.

/usr/local/lib/python3.6/dist-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "

Iteration No: 35 ended. Search finished for the next optimal point.
Time taken: 2.5949
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 36 started. Searching for the next optimal point.
Iteration No: 36 ended. Search finished for the next optimal point.
Time taken: 4.2218
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 37 started. Searching for the next optimal point.
Iteration No: 37 ended. Search finished for the next optimal point.
Time taken: 23.0872
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 38 started. Searching for the next optimal point.
Iteration No: 38 ended. Search finished for the next optimal point.
Time taken: 109.9419
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 39 started. Searching for the next optimal point.
Iteration No: 39 ended. Search finished for the next optimal point.
Time taken: 3.1533
Function value obtained: -0.2933
Current minimum: -0.3074
Iteration No: 40 started. Searching for the next optimal point.
Iteration No: 40 ended. Search finished for the next optimal point.
Time taken: 7.5352
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 41 started. Searching for the next optimal point.
Iteration No: 41 ended. Search finished for the next optimal point.
Time taken: 79.9652
Function value obtained: -0.2985
Current minimum: -0.3074
Iteration No: 42 started. Searching for the next optimal point.
Iteration No: 42 ended. Search finished for the next optimal point.
Time taken: 20.5436
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 43 started. Searching for the next optimal point.

/usr/local/lib/python3.6/dist-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "

Iteration No: 43 ended. Search finished for the next optimal point.
Time taken: 2.6177
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 44 started. Searching for the next optimal point.
Iteration No: 44 ended. Search finished for the next optimal point.
Time taken: 3.2949
Function value obtained: -0.2933
Current minimum: -0.3074
Iteration No: 45 started. Searching for the next optimal point.

/usr/local/lib/python3.6/dist-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "

Iteration No: 45 ended. Search finished for the next optimal point.
Time taken: 20.5774
Function value obtained: -0.2980
Current minimum: -0.3074
Iteration No: 46 started. Searching for the next optimal point.
Iteration No: 46 ended. Search finished for the next optimal point.
Time taken: 15.1837
Function value obtained: -0.3009
Current minimum: -0.3074
Iteration No: 47 started. Searching for the next optimal point.
Iteration No: 47 ended. Search finished for the next optimal point.
Time taken: 32.7993
Function value obtained: -0.2976
Current minimum: -0.3074
Iteration No: 48 started. Searching for the next optimal point.
Iteration No: 48 ended. Search finished for the next optimal point.
Time taken: 2.6197
Function value obtained: -0.2961
Current minimum: -0.3074
Iteration No: 49 started. Searching for the next optimal point.
Iteration No: 49 ended. Search finished for the next optimal point.
Time taken: 19.6199
Function value obtained: -0.3004
Current minimum: -0.3074
Iteration No: 50 started. Searching for the next optimal point.

/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

Iteration No: 50 ended. Search finished for the next optimal point.
Time taken: 142.4908
Function value obtained: -0.2980
Current minimum: -0.3074

'Best score=-0.3074'

In [93]:
print("""Best parameters:
- max_depth=%d
- learning_rate=%.6f
- min_child_weight=%d
- n_estimators=%d
- gamma=%d""" % (res_gp.x[0], res_gp.x[1],
                            res_gp.x[2], res_gp.x[3],
                            res_gp.x[4]))

Best parameters:
- max_depth=6
- learning_rate=0.048372
- min_child_weight=22
- n_estimators=222
- gamma=3

In [94]:
xgb = XGBClassifier(max_depth=6, learning_rate=0.048372, min_child_weight=22, n_estimators=222, gamma=3)
xgb.fit(X_train_num, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=3,
              learning_rate=0.048372, max_delta_step=0, max_depth=6,
              min_child_weight=22, missing=None, n_estimators=222, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [95]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, xgb.predict(X_test_num))

0.31529411764705884